# Gradle
.gradle/
*.gradle
build/

# IntelliJ & Android Studio
*.iml
.idea/
.idea/*
*.ipr
*.swp
*~
.navigation/
out/
*/out/
*/build/
*/local.properties
*/*/build/
*/*/production/

# Local Configuration
local.properties
keys.properties

# Google Services
app/google-services.json

# Native Build Artifacts
.externalNativeBuild/
.cxx/
captures/

# macOS
.DS_Store

# IDE Cache
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
